<form [formGroup]="editForm">

  <div>
    <label for="id">
    </label>
    <input [hidden]="true" id="id" type="number" [(ngModel)]="data.id" formControlName="id">

  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder" id="name" type="text" [(ngModel)]="data.name" formControlName="name">
    </mat-form-field>
    <span *ngIf="name?.invalid && name?.touched">Name is invalid</span>
  </div>

  <div>
    <label for="type">Type: </label>
      Air <input id="type" type="radio" name="Air" [(ngModel)]="data.type" value="Air" formControlName="type">
      Water <input id="type" type="radio" name="Water" [(ngModel)]="data.type" value="Water" formControlName="type">
      Ground <input id="type" type="radio" name="Ground" [(ngModel)]="data.type" value="Ground" formControlName="type">
      Flying <input id="type" type="radio" name="Flying" [(ngModel)]="data.type" value="Flying" formControlName="type">
      Lightning <input id="type" type="radio" name="Lightning" [(ngModel)]="data.type" value="Lightning" formControlName="type">
      Fire <input id="type" type="radio" name="Fire" [(ngModel)]="data.type" value="Fire" formControlName="type">
    <span *ngIf="type?.invalid && type?.touched">Type is invalid</span>
  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Dmg</mat-label>
      <input matInput placeholder="Placeholder" id="dmg" type="number" [(ngModel)]="data.dmg" formControlName="dmg">
    </mat-form-field>
    <span *ngIf="dmg?.invalid && dmg?.touched">Dmg is invalid</span>
  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Hp</mat-label>
      <input matInput placeholder="Placeholder" id="hp" [(ngModel)]="data.hp" type="number" formControlName="hp">
    </mat-form-field>
    <span *ngIf="hp?.invalid && hp?.touched">Hp is invalid</span>
  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Critic chance</mat-label>
      <input matInput placeholder="Placeholder" id="crit_chance" [(ngModel)]="data.crit_chance" type="number" formControlName="crit_chance">
    </mat-form-field>
    <span *ngIf="crit_chance?.invalid && crit_chance?.touched">Crit Chance is invalid</span>
  </div>

  <button class="button" mat-raised-button color="primary" (click)="save()" [disabled]="!editForm.valid" type="submit" ><mat-icon> border_color</mat-icon></button>
  <button class="button" mat-raised-button color="warn" (click)="close()" type="submit" ><mat-icon>close</mat-icon></button>
</form>
