<form [formGroup]="newForm">
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" id="name" type="text" [(ngModel)]="info.name" formControlName="name">
    </mat-form-field>
    <span *ngIf="name?.invalid && name?.touched">Enter name with 3 to 15 characters</span>
  </div>
  <div>
    <label for="gender">Gender: </label>
    Male <input id="gender" type="radio" name="Male" [(ngModel)]="info.gender" [value]="true" formControlName="gender">
    Female <input id="gender" type="radio" name="Female" [(ngModel)]="info.gender" [value]="false" formControlName="gender">
    <!-- <input id="gender" type="checkbox" [(ngModel)]="info.gender" formControlName="gender"> -->
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Taunt text</mat-label>
      <input matInput placeholder="Taunt text" id="taunt_text" type="text" [(ngModel)]="info.taunt_text" formControlName="taunt_text">
    </mat-form-field>
    <span *ngIf="taunt_text?.invalid && taunt_text?.touched">Enter taunt with 2 to 20 characters</span>
  </div>
  <button class="button" mat-raised-button color="primary" (click)="save()" [disabled]="!newForm.valid" type="submit"><mat-icon> border_color</mat-icon></button>
  <button class="button" mat-raised-button color="warn" (click)="exit()" type="submit"><mat-icon>close</mat-icon></button> 
</form>
