h1 {
  color: darkmagenta;
  text-align: center;
  font-family: "Californian FB";
  margin-top: 40px;
  font-size: 80px;
  font-weight: 1000;
  font-style: italic;
}
.main {
  background-color: blueviolet;
  margin-left: 70px;
  width: 250px;
  height: 50px;
  font-size: 20px;
  font-style: italic;
}
