<form [formGroup]="createForm" (ngSubmit)="onSubmit(battlemon)">

  <div>
    <label for="id">
      Id
    </label>
    <input id="id" type="number" formControlName="id" required pattern="^[0-9]*$">
    <span *ngIf="id?.invalid && id?.touched">Id is invalid</span>
  </div>

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
    <span *ngIf="name?.invalid && name?.touched">Name is invalid</span>

  </div>

  <div>
    <label for="type">
      Type
    </label>
    <input id="type" type="text" formControlName="type">
    <span *ngIf="type?.invalid && type?.touched">Type is invalid</span>

  </div>

  <div>
    <label for="dmg">
      Dmg
    </label>
    <input id="dmg" type="number" formControlName="dmg" required pattern="^[0-9]*$">
    <span *ngIf="dmg?.invalid && dmg?.touched">Dmg is invalid</span>

  </div>

  <div>
    <label for="hp">
      Hp
    </label>
    <input id="hp" type="number" formControlName="hp" required pattern="^[0-9]*$">
    <span *ngIf="hp?.invalid && hp?.touched">Hp is invalid</span>

  </div>

  <div>
    <label for="crit_chance">
      Crit Chance
    </label>
    <input id="crit_chance" type="number" formControlName="crit_chance">
    <span *ngIf="crit_chance?.invalid && crit_chance?.touched">Crit Chance is invalid</span>

  </div>

  <button class="button" [disabled]="!createForm.valid"  type="submit" >Add</button>
</form>
