<nav>
  <div class="trainer-dialog">
    <h1> Trainers </h1>
    <button mat-raised-button color="primary" (click)="createDialog()"> Add new Trainer</button>
  </div>
</nav>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Matches won</th>
      <th>Matches lost</th>
      <th>Taunt text</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainer of trainers">
      <td>{{trainer.id}}</td>
      <td>{{trainer.name}}</td>
      <td>{{trainer.gender}}</td>
      <td>{{trainer.matches_won}}</td>
      <td>{{trainer.matches_lost}}</td>
      <td>{{trainer.taunt_text}}</td>
      <td>
        <button mat-raised-button color="primary" (click)="editDialog(trainer)">Edit</button>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="trainerRemove(trainer.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
