<nav>
  <div class="trainer-dialog">
    <h1> Trainers </h1>
    <button mat-fab color="primary" (click)="createDialog()"><mat-icon>add</mat-icon></button>
  </div>
</nav>

<table class="mat-elevation-z8">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Matches won</th>
      <th>Matches lost</th>
      <th>Taunt text</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainer of trainers">
      <td>{{trainer.id}}</td>
      <td>{{trainer.name}}</td>
      <td>{{trainer.gender}}</td>
      <td>{{trainer.matches_won}}</td>
      <td>{{trainer.matches_lost}}</td>
      <td>{{trainer.taunt_text}}</td>
      <td>
        <div *ngIf="data1?.isClashCall; else notClashCall">
          <button mat-raised-button color="primary" (click)="closeClash(trainer)">Pick Trainer</button>
        </div>
        <ng-template #notClashCall>
          <button mat-fab color="primary" class="button1" (click)="editDialog(trainer)"><mat-icon> border_color</mat-icon></button>
          <button mat-fab color="primary" class="button2" (click)="trainerRemove(trainer.id)"><mat-icon>delete</mat-icon></button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
<button class="button3" mat-raised-button color="warn" (click)="exit()" type="submit" ><mat-icon>close</mat-icon></button>
