<nav>
  <div class="pokemons-nav">
    <h1>POKEMONS</h1>
    <div>
      <button mat-fab color="primary" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</nav>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Filtering keyword"(keyup)="applyFilter($event)">
</mat-form-field>
<div>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="dmg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dmg</th>
      <td mat-cell *matCellDef="let row">{{row.dmg}}</td>
    </ng-container>

    <ng-container matColumnDef="hp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hp</th>
      <td mat-cell *matCellDef="let row">{{row.hp}}</td>
    </ng-container>

    <ng-container matColumnDef="crit_chance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Crit Chance</th>
      <td mat-cell *matCellDef="let row">{{row.crit_chance}}</td>
    </ng-container>

    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef>Operations</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="data1?.isTrainerCall; else notTrainerCall">
          <button mat-raised-button color="primary" (click)="pokemonChoosing(row)">Pick Pokemon</button>
        </div>
        <ng-template #notTrainerCall>
          <button mat-fab color="primary" class="button1" (click)="openEditDialog(row)"><mat-icon> border_color</mat-icon></button>
          <button mat-fab color="primary" class="button2" (click)="deleteBattlemon(row.id)"><mat-icon>delete</mat-icon></button>
        </ng-template>


      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>

<button class="button3" mat-raised-button color="warn" (click)="close()" type="submit" ><mat-icon>close</mat-icon></button>

