<nav>
  <div class="pokemons-nav">
    <h1>POKEMONS</h1>
    <div>
      <button mat-fab color="primary" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</nav>

<table class="mat-elevation-z8">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Dmg</th>
      <th>Hp</th>
      <th>Crit chance</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let battlemon of battlemons">
        <td>{{ battlemon.id }}</td>
        <td>{{ battlemon.name }}</td>
        <td>{{ battlemon.type }}</td>
        <td>{{ battlemon.dmg }}</td>
        <td>{{ battlemon.hp }}</td>
        <td>{{ battlemon.crit_chance }}</td>
        <td>
          <button mat-fab color="primary" class="button1" (click)="openEditDialog(battlemon)"><mat-icon> border_color</mat-icon></button>
          <button mat-fab color="primary" class="button2" (click)="deleteBattlemon(battlemon.id)"><mat-icon>delete</mat-icon></button>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="pokemonChoosing(battlemon)">Pick Pokemon</button>
        </td>
    </tr>
  </tbody>
</table>
<button class="button3" mat-raised-button color="warn" (click)="close()" type="submit" ><mat-icon>close</mat-icon></button>
